.status-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.status-bar-icon {
	--icon-s: 12px;
}

.status-bar-text {
	margin-left: 2px;
}

.input-modal-container {
	width: 100%;
	height: fit-content;
	margin-bottom: 16px;
}

.input-modal-input-field {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	min-height: 40px;
}
